@font-face {
    font-family: 'Monterey';
    src: url('fonts/montereybt-regular-webfont.eot');
    src: url('fonts/montereybt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montereybt-regular-webfont.woff') format('woff'),
         url('fonts/montereybt-regular-webfont.ttf') format('truetype'),
         url('fonts/montereybt-regular-webfont.svg#montereyregular') format('svg');
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

@font-face {
    font-family: 'Helium-m';
    src: url('fonts/helium-medium-webfont.eot');
    src: url('fonts/helium-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helium-medium-webfont.woff') format('woff'),
         url('fonts/helium-medium-webfont.ttf') format('truetype'),
         url('fonts/helium-medium-webfont.svg#mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

@font-face {
    font-family: 'Helium-l';
    src: url('fonts/helium-xlight-webfont.eot');
    src: url('fonts/helium-xlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helium-xlight-webfont.woff') format('woff'),
         url('fonts/helium-xlight-webfont.ttf') format('truetype'),
         url('fonts/helium-xlight-webfont.svg#xlightregular') format('svg');
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

@font-face {
    font-family: 'Mogadischu';
    src: url('fonts/mogadischu-webfont.eot');
    src: url('fonts/mogadischu-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mogadischu-webfont.woff') format('woff'),
         url('fonts/mogadischu-webfont.ttf') format('truetype'),
         url('fonts/mogadischu-webfont.svg#mogadischuregular') format('svg');
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

@font-face {
    font-family: 'Opensans-condensed';
    src: url('fonts/OpenSans-CondLight-webfont.eot');
    src: url('fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-CondLight-webfont.woff') format('woff'),
         url('fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}
