.nice-radio {
  @include inline-block;
  position: relative;
  cursor: pointer;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 200;
    top: 18px;
    left: 0;

    path {
      stroke: $green-light;
      stroke-width: 7px;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
    }
  }

  input[type="radio"] {
    display: none;
  }

  label {
    position: relative;
    @include border-radius(3px);
    top: -4px;
    @include inline-block;
    @include transition(all .5s);
    // background: white;
    padding: 5px 20px;
    color: $green-light;
    cursor: pointer;
    &:hover {
      background: white;
    }
  }

  input[type="radio"]:checked + label {
    background: $green-light;
    color: white;

    &:hover {
      background: $green-dark;
    }
  }
}
